.alerta {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: green;
    padding: 30px;
    font-weight: bolder;
    color: white;
    z-index: 100000;
    box-shadow: 0px 0px 15px black;
    text-align: center;
    font-size: 25px;
}

.divPerguntas {
    width: 100%;
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
}

.divPerguntas a {
    text-decoration: none;
    color: rgb(40,40,40);
    font-size: 25px;
    font-weight: bolder;
    cursor: pointer;
} 

.divPerguntas button {
    text-decoration: none;
    background-color: transparent;
    border: 0px;
    color: rgb(40,40,40);
    font-size: 25px;
    font-weight: bolder;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 20px;
} 

.divPerguntas h1 {
    background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    padding-top: 20px;
}

.divPerguntas div {
    width: 900px;
    margin: 0 auto;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 0px 7px rgb(155, 155, 155);
    padding-bottom: 50px;
}

.divPerguntas div h2 {
    max-width: 90%;
    margin: 0 auto;
    font-size: 20px;
    margin-top: 0px;
    font-weight: normal;
}

.divPerguntas div label {
    border-radius: 7px;
    border: 2px solid steelblue;
    display: flex;
    width: 95%;
    margin: 0 auto;
    text-indent: 50px;
    margin-top: 10px;
    color: rgb(40,40,40);
    font-size: 20px;
    font-family: arial;
    padding-top: 10px;
    padding-bottom: 10px;
}

.divPerguntas div h1 span {
    background-image: linear-gradient(to left, black, black);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
}

.divPerguntas input[type="text"] {
    border-radius: 7px;
    border: 2px solid steelblue;
    width: 70%;
    margin: 0 auto;
    color: rgb(40,40,40);
    font-size: 20px;
    font-family: arial;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-bottom: 50px;
}

.divPerguntas input[type="submit"] {
    border: 0px;
    background-color: steelblue;
    color: white;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 0px;
    width: 300px;
    transition: 0.4s;
    cursor: pointer;
    border-radius: 10px;
}

.divPerguntas input[type="submit"]:hover {
    box-shadow: 0px 0px 20px silver;
}

.nao {
    background-color: red;
    color: white!important;
    text-shadow: 0px 0px 1px black,
                 0px 0px 2px black,
                 0px 0px 10px black;
}

.sim {
    background-color: rgb(96, 147, 46);
    color: white!important;
    text-shadow: 0px 0px 1px black,
                0px 0px 2px black,
                0px 0px 10px black;
}

@media screen and (max-width: 1310px) {
    .divPerguntas div {
        width: 100%;
    }
    .divPerguntas div label {
        justify-content: center;
        text-indent: 0px;
        width: 85%;
        padding-right: 20px;
        padding-left: 20px;
    }
}

